//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Files ------------------------------
//  ------------------------------------------------------------------------------


.logo {
  &__img {
    max-width: 180px;
    width: 100%;
    
    @media (max-width: $breakpoint-xsm) {
      max-width: 150px;
    }
  }
}