//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Files ------------------------------
//  ------------------------------------------------------------------------------


.marker {
  display: flex;
  align-items: center;

  &__circle {
    display: block;
    min-width: 4px;
    min-height: 4px;
    width: 4px;
    height: 4px;
    background-color: $mainLightRed;
    margin-right: 10px;
    border-radius: 50%;
  }
}