//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Files ------------------------------
//  ------------------------------------------------------------------------------

.mob-menu {
  display: none;
  position: fixed;
  left: 0;
  background-color: $mainYellow;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  z-index: 999999999999;
  width: 65%;
  height: 100%;
  
  @media (max-width: $breakpoint-lg) {
    display: block;
    height: calc(100vh - 90px);
    width: $breakpoint-lg;
    top: 90px;
  }
 

  @media (max-width: $breakpoint-xr) {
 
    width: $breakpoint-xr;
  }

  @media (max-width: $breakpoint-md) {
    height: auto;
    top: 0;
  }

  @media (max-width: $breakpoint-sm) {
    
    max-width: unset;
  }

  @media (max-width: 399.99px) {
    max-width: unset;
    width: 100%;
  }  

  @media (max-width: $breakpoint-xsm) {
    height: calc(100vh - 70px);
    top: 70px;
  }

  &__lang {
   

    
    @media (max-width:$breakpoint-xr) {
     
      margin-bottom: 20px;
      margin-left: 0px;
      margin-right: 25px;
      margin-top: 10px;
    } 

    @media (max-width:$breakpoint-xs) {
    
      margin-right: 15px;
     
    } 
  }

  &__wrapper {
    padding-top: 30px;
    padding-left: 30.5px;

    @media (max-width: $breakpoint-md) {
      padding-left: 39px;
    }

    @media (max-width: $breakpoint-sm) {
      padding-left: 33px;
      padding-top: 20px;
    }   
    
    @media (max-width: 399.99px) {
      padding-left: 15px;
    } 

    @media (max-height: 681px) {
      overflow-y: scroll;
      max-height: 600px;
      padding-bottom: 60px;
    } 
  }

  &__nav {
    margin-bottom: 30px;
    padding-right: 23.5px;

    @media (max-width: $breakpoint-md) {
      padding-right: 15px;
    }

    @media (max-width: $breakpoint-sm) {
      padding-right: 30px;
      margin-bottom: 25px;
    }   

    @media (max-width: 399.99px) {
      padding-right: 15px;
    } 
  }

  &__menu {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Century Gothic';
    @media (max-width: $breakpoint-md) {
      height: auto;
      margin-top: 70px;
    }
   
  }

  &__item {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 25px;
    font-size: 18px;
    &:last-child {
      margin-bottom: 10px;
    }
    &:first-child {
      margin-top: 10px;
    }


    @media (max-width: $breakpoint-sm) {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }     
  }

  &__link,
  &__link-phone {
    @include transition-colors;
    font-weight: 550;
    color: #000;
    border-bottom: 0px;
    @media (max-width: 414px) {
      font-weight: 450;
      font-size: 16px;
      font-family: 'HelveticaNeueCyr';
       border-bottom: 0px;
      margin-top: 10px;
    }
    &:hover {
      color: $mainOrange;
    }
  }
&__btn{
  margin-top: 50px;
  display: flex;
}
  &__link {
    font-size: 22px;
    line-height: 30px;

    @media (max-width: $breakpoint-sm) {
      font-size: 18px;
    }    
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    max-width: 205px;

    @media (max-width: $breakpoint-sm) {
      max-width: 210px;
    }    
  }

  &__wrapper-phone {
    margin-bottom: 30px;
  }

  &__link-phone {
    font-size: 21px;
    line-height: 22px;
    letter-spacing: 0.04em;
    margin-bottom: 25px;
  }

  &__btn-phone {
    max-height: 56px;
    height: 56px;
  }

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &--fix-animate {
    opacity: 0;
  }
}