//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Files ------------------------------
//  ------------------------------------------------------------------------------


.sc-main-pages {
  

  


  &__offer {
    grid-column: span 8;
    padding-top: 46px;

    @media (max-width: $breakpoint-xl) {
      grid-column: span 7;
      padding-top: 42px;
    } 

    @media (max-width: $breakpoint-md) {
      grid-column: span 6;
      padding-top: 40px;
    } 

    @media (max-width: $breakpoint-sm) {
      padding-top: 0;
    } 

    @media (max-width: $breakpoint-xsm) {
      grid-column: span 2;
    } 
  }

  &__wrapper-img {
    grid-column: span 4;
    height: 240px;

    @media (max-width: $breakpoint-xl) {
      grid-column: span 5;
    } 

    @media (max-width: $breakpoint-lg) {
      padding-top: 16px;
    }   

    @media (max-width: 799.99px) {
      padding-top: 56px;
    }   

    @media (max-width: $breakpoint-md) {
      grid-column: span 6;
      position: relative;
      padding-top: 30px;
    } 

    @media (max-width: 649.99px) {
      padding-top: 56px;
    }
    
    @media (max-width: $breakpoint-sm) {
      position: absolute;
      top: 166px;
      left: 0;
      padding-top: 0;
      width: 100%;
      height: 330px;
    } 

    @media (max-width: 400px) {
      top: calc(166px + 30px);
    } 

    @media (max-width: $breakpoint-xsm) {
      grid-column: span 2;
      height: auto;
      left: 15px;
      width: calc(100% - 30px);
      top: calc(166px + 40px);
    } 
  }

  &__desc {
    color: #fff;
    max-width: 600px;

    @media (max-width: $breakpoint-lg) {
      max-width: unset;
    } 

    @media (max-width: $breakpoint-md) {
      font-size: 15px;
      line-height: 20px;
    } 
  }

  &__img {
    height: inherit;
    border-radius: 6px;

    @media (max-width: $breakpoint-lg) {
      height: auto;
    } 

    @media (max-width: $breakpoint-sm) {
      height: inherit;
    } 

    @media (max-width: $breakpoint-xsm) {
      height: auto;
    } 
  }

  &--about {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    //background-image: url('../../../images/about/background-main.webp');
  }

  &--projects {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-image: url('../../../images/projects/background-main.webp');
  }
}