@import '../variables.scss';

.ticker-container {
	width: 100%;
	padding-right: 100px !important;
	display: flex;
	height: 100px;
	margin-right: 50px !important;
}

.ticker-item {
	img {
		
		height: 50px;
		padding-right: 100px !important;
		margin-left: 50px !important;
		margin-right: 50px !important;
	}
}
