//  ------------------------------------------------------------------------------
//  ----------------------------- Variables Files ------------------------------
//  ------------------------------------------------------------------------------

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('/fonts/HelveticaNeueCyr-Medium.ttf');
	font-weight: 550;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('/fonts/GOTHIC.TTF');
}

@font-face {
	font-family: 'Handel Gothic D';
	src: url('/fonts/HANDEL_GOTHIC_D_BOLD.TTF');
}
